.container{
    display: flex;
    text-align: center;
}


.stopwatch{
    display: flex;
    text-align: center;
}


#display{
    font-size: 100px;    
}

.split{
    margin-top: 3%;
    display: flex;
    justify-content: space-around;
}

.buttons-style{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #40df42;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.buttons-style-2{
    background-color: rgb(194, 78, 184);
    height: 80px;
    width: 80px;
    border-radius: 50%;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.buttons-style-3{
    background-color: rgb(223, 220, 74);
    height: 80px;
    width: 80px;
    border-radius: 50%;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


.buttons-style-4{
    background-color: rgb(79, 78, 194);
    height: 80px;
    width: 80px;
    border-radius: 50%;

    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


tr > * + * {
    padding-left: 100px;
  }